@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    margin: 0 auto;
    background-color:white;
    /*whitesmoke*/
    text-align: center;
}
p {
    font-family: 'Public Sans', sans-serif;
}
header {
    color: #17141d;
    height: 150px;
    width: 100%;
    background-color: aliceblue;
}

header h1 {
    font-family: 'Public Sans', sans-serif;
    color: #17141d;
    font-size: 4rem;
    text-shadow: 4px 4px 4px rgb(188, 192, 194);
}

header h3 {
    font-family: 'Heebo', sans-serif;
    font-size: 1.3rem;
    padding-top: 0.7rem;
    margin: 5px;
}

.container {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.display-area {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#news-selector {
    font-size: 20px;
    width: 225px;
    border-radius: 5px;
}

.story-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 1s;
}

.description:hover {
    color: black;
    transition: 0.2s;
}

.visible {
    opacity: 1.0;
}

.story {
    background-color: #F2F2F2;
    color: white;
    width: 300px;
    /*300px*/
    height: auto;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    border-radius: 13px;
    transition: .75s;
    padding: 0.1rem;
}

.story:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.50), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-1rem);
}

.story-image {
    width: 300px;
    /* Original 300*/
    border-radius: 13px;
    height: 200px;
    /*Original 200*/
}

a {
    text-decoration: none;
}

.headline {
    padding: 5px;
    color: #5A83F5;
    font-weight: 800;
}

.space {
    background-color: #5A83F5;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.placeholder-title {
    color: white;
    font-size: 38px;
    text-shadow: 2px 2px 8px black;
}

.author {
    color: #17141d;
    padding: 5px;
    margin: 0;
}

.description {
    color: gray;
    padding: 5px;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 15px;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5A83F5;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}

.footer a {
    color: white;
}